<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830355642737-8tft3jqndlvhc0d8g42tdbpdtqtjrnor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830355642737-8tft3jqndlvhc0d8g42tdbpdtqtjrnor</string>
	<key>API_KEY</key>
	<string>AIzaSyC0DCbstAttECcHuO8d2RaFH3rX3qaCRBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>830355642737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectv2</string>
	<key>PROJECT_ID</key>
	<string>final-project-7b51c</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-7b51c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830355642737:ios:39849635d255a0e9c73ed0</string>
</dict>
</plist>